:root {
  --bg-color: #f5f5f5;
  --text-color: #333;
  --card-bg: #fff;
  --accent: #ff4d4d;
}

body.dark {
  --bg-color: #1e1e1e;
  --text-color: #f4efef;
  --card-bg: #16030380;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: var(--bg-color);
  color: var(--text-color);
  transition: background 0.3s, color 0.3s;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--accent);
  color: white;
  padding: 10px 20px;
}

.navbar a, .navbar button {
  color: white;
  background: none;
  border: none;
  margin-left: 15px;
  cursor: pointer;
  font-size: 16px;
}

.nav-right {
  display: flex;
  align-items: center;
}

.dashboard {
  padding: 20px;
   color: var(--text-color);

}
.dashboard.h1 {
  
   color: var(--text-color);

}
.orders {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.order-card {
  background: var(--card-bg);
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: transform 0.2s;
}

.order-card:hover {
  transform: translateY(-5px);
}

button {
  background: var(--accent);
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 15px;
  cursor: pointer;
}

button:hover {
  background: #e63939;
}
a{
    text-decoration: none;
}

@media (max-width: 768px) {
  .navbar h2 {
    font-size: 18px;
  }
  .orders {
    grid-template-columns: 1fr;
  }
}
